### Commom Files ###
banned-ips.json
banned-players.json
ops.json
usercache.json
whitelist.json

### Commom Folders ###
world
libraries
!libraries/net
!libraries/org

### JFR ###
flight.jfr

### Config Files ###
/config/chunky
/config/spark

### scripts ###
scripts/TornadoVM

### SDKS ###
sdks/jdk-old/*
sdks/jdk/*
sdks/python/*
sdks/TornadoVM/*
sdks/cmake/*

### Other ###
.fabric
logs
versions