jdk/*
!jdk/.gitkeep
.fabric
logs
versions

### Commom Files ###
banned-ips.json
banned-players.json
ops.json
usercache.json
whitelist.json

### Commom Folders ###
world

### Libraries ###
libraries
!libraries/net
!libraries/org

### JFR ###
flight.jfr