### Commom Files ###
banned-ips.json
banned-players.json
ops.json
usercache.json
whitelist.json
server.properties

### Commom Folders ###
world
libraries
!libraries/net
!libraries/org

### JFR ###
flight.jfr

### Config Files ###
/config/chunky
/config/spark

### SDKS ###
jdk

### Other ###
.fabric
.idea
logs
versions
*.jfr